/* The box-sizing property can make building CSS layouts easier */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    border: 2px solid black;
    margin: 0.2%!important;
}

.form-control {
    width: 140px !important;
}
.glyphicon-trash {
    font-weight: 900 !important;
}
.delete {
    background-color: #fff;
}
.task {
    min-width: 200px;
    max-width: 300px;
    height: auto;
    margin: 2% 3.8%;
    padding: 1%;
    border: 2px solid black;
}
#header > div > div > div.lang {
      float:right;
      margin:6% 0%;
}
#header > div > div > div.lang a{
    text-decoration: underline;
}
#body > div > div.row {
    margin: 2%;
}
#body > div > div > select.form-control {
    height: 27px !important;
    padding: 3px 12px !important;
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#addTaskBtn.btn {
    float: right !important;
}
body hr {
    height:1px;
    border:none;
    border-bottom: 2px solid #000;
}
/* Tooltip */
.test + .tooltip > .tooltip-inner {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid gray;
    padding: 15px 30px;
    font-size: 14px;
    border-style: ridge;

}
/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid gray;
    /*border-left: solid transparent 5px;
    left: 90%;
    margin-left: 0;*/
}
/* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
    border-top: 5px solid gray;
}
/* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
    border-top: 5px solid gray;
}
/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
    border-top: 5px solid gray;
}
